<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card event-card w-100">     
        <div class="card-body">
            <br>
          	<h5 class="card-title"><%= event.title %></h5>
          	<p class="card-text"><%= event.short_description %></p>
          	<p class="card-text">Le : <%= event.convert_start_date %></p>
          	<aside class="price rounded-circle position-absolute border border-info text-light">
            	<p class="card-text"><strong><%= event.price %>€</strong></p>
          	</aside>
            <aside class="date position-absolute">
              <p class="month text-warning position-absolute w-100"><strong><%= event.get_month %></strong></p>
              <p class="day_of_month position-absolute w-100"><%= event.start_date.day %></p>
            </aside>
        	<p class="card-text"><i class="fas fa-map-marker-alt text-warning"></i> <%= event.location %></p>
          <%= link_to "", event_path(event), class:"stretched-link" %>
    	</div>
	</div>
</div>