<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
      <%= form_with(model: event, local: true) do |f| %>
        <% if event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
            <% event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, autocomplete: "title", class: "form-control", placeholder:"Titre", required: true %>
        </div>



        <div class="form-group">
         <%= f.label :start_date %>
         <%= f.datetime_local_field :start_date , class: "form-control", min:"1000-01-01", max:"3000-12-31" %>
        </div>


        <div class="form-group">
          <%= f.label :duration %>
          <%= f.number_field :duration, class: "form-control", placeholder:"Durée (en minutes)", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :price %>
          <%= f.number_field :price, class: "form-control", placeholder:"Prix (€)", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :location %>
          <%= f.text_field :location, class: "form-control", placeholder:"Lieu", required: true %>
        </div>

        <div class="form-group">
          <%= f.label :description, "Description" %><br />
          <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "form-control", placeholder:"Description", required: true %>
        </div>

        <div class="form-group">
          <%= f.file_field :event_pic, autocomplete: :event_pic %><br />
        </div>
        <div class="form-group">
          <div class="file-field">
              <div class="z-depth-1-half mb-4">
                <%if event.event_pic.attached?%>
                  <%= image_tag event.event_pic, alt: 'event_pic', class:"img-fluid w-100 ", style:"height: 15vw; object-fit: cover;" %>
                <% else %>
                  <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="img-fluid w-100"
                    alt="image event", style="height: 15vw; object-fit: cover;">
                <% end %>
              </div>
              <div class="d-flex justify-content-center">
                <div class="btn btn-mdb-color btn-rounded float-left">
                  <span>Choose file</span>
                  <input type="file">
                </div>
              </div>
            </div>
        </div>
        <div class="actions mt-5">
          <%= f.submit "Créer", class: "btn btn-lg btn-primary btn-block" %>
        </div>
        <br>
        <%= link_to 'Annuler', events_path %>
      <% end %>
    </div>
  </div>
</div>


