
<div class="jumbotron" style="background-image: url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?cs=srgb&dl=audience-band-concert-1105666.jpg&fm=jpg); background-size: 100%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <section class="card frame">
          <div class="card-body">
            <h5 class="card-title">
              <strong><%= @event.title %><% if @event.participate?(current_user) %> <span class="badge badge-secondary bg-success">Je participe !</span><% end %>
                <% if @event.admin == current_user %> <span class="badge badge-secondary bg-danger">Admin</span><% end %>
              </strong>
            </h5>

            <p><i class="fas fa-map-marker-alt text-warning"></i>  <%= @event.location %></p>
            <p>Créé par <em><%= @event.admin.name %></em> <%= @event.admin.email %> </p>
            <p><%= @event.participants.count %> personnes participent à cet évenement </p>
            <p>
              début : <%= @event.convert_start_date %>
            </p>
            <p>
              fin : <%= @event.end_date %>
            </p>

            <aside class="price rounded-circle position-absolute border border-info text-light <% if @event.is_free? %>bg-success<% else %>bg-info<% end %>">
              <p class="card-text"><strong><% if @event.is_free? %>FREE<% else %><%= @event.price %>€<% end %></strong></p>
            </aside>

            <aside class="date position-absolute">
                  <p class="month text-warning position-absolute w-100"><strong><%= @event.get_month %></strong></p>
                  <p class="day_of_month position-absolute w-100"><%= @event.start_date.day %></p>
            </aside>
            

            <div class="container bg-light border border-info rounded">
              <p><strong>Description:</strong></p>
              <p><%= @event.description %></p>
            </div>
            <% if @event.can_participate?(current_user) &&  !@event.is_free?%>
              <p><%= link_to 'Je participe !', new_event_attendance_path(@event), class:"btn btn-success float-right mt-1" %></p>
            <% end %>
            <% if @event.can_participate?(current_user) &&  @event.is_free?%>
              <p><%= link_to 'Je participe !', event_attendances_path(@event), method: :post, class:"btn btn-success float-right mt-1" %></p>
            <% end %>
            <% if @event.admin == current_user %>
              <p><%= link_to 'mon espace événement', event_attendances_path(@event), class:"btn btn-primary float-right mt-1" %></p>
            <% end %>

            <%= link_to 'Retour', events_path %>

          </div>
        </section>
      </div>
    </div>
  </div>
</div>
